* {
	box-shadow: border-box;
}

body {
	margin: 0;
	background-color: white;
	width: 100%;
}

.container {
	width: 90%;
	max-height: 100vh;
	overflow: hidden;
	margin: auto;
	background-color: transparent;
	color: black;
	font-family: cursive;
	padding-left: 5px;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	background-color: black;
	color: #555;
	position: fixed;
	top: 0;
	bottom: 100px;
}

nav ul {
	padding: 0 8px;
	list-style-type: none;
	line-height: 6em;
	margin-left: 0px;
}

nav li {
	display: block;
}

nav a:hover {
	color: #555;
	text-decoration: underline;
	font-size: 1.5em;
	animation-name: ease-in-out;
	@web-kit animation-name: ease;
	animation-duration: 2s	
}

#showcase {
	background-image: url("Messi-3.jpg");
	background-position: center right;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1 {
	color: black;
	font-size: 60px;
	line-height: 2em;
	padding-top: 30px;
	text-shadow: 2px 4px 5px gold;
}

#main {
	float: left;
	width: 40%;
	padding: 0 30px;
	box-sizing: border-box;
	font-size: 18px;
	color: black;
}

#mid {
	float: left;
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
	font-size: 18px;
	color: black;
}

#sidebar {
	float: right;
	width: 30%;
	background: lightgrey;
	color: black;
	padding: 20px;
	box-sizing: border-box;
	font-size: 18px;
}

#main-footer {
	background-color: transparent;
	color: gold;
	text-align: center;
	padding: 20px;
	margin-top: -40px;
	margin-bottom: 0px;
}

@media (max-width:600px) {
	#main {
		width: 100%;
		float: none;
	}

	#sidebar {
		width: 100%;
		float: none;
	}
}
