body {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, Sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 0;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	background-color: black;
	color: #555;
	position: fixed;
	top: 0;
	bottom: 100px;
}

nav ul {
	padding: 0 5px;
	list-style-type: none;
	line-height: 6em;
}

nav li {
	display: block;
}

nav a:hover {
	color: #555;
	text-decoration: underline;
	font-size: 1.5em;
	animation-name: ease-in-out;
	@web-kit animation-name: ease;
	animation-duration: 2s	
}

#bannertext {
	background-image: url("Messi-2.jpg");
	background-position: right center left;
	height: 900px;
	margin-bottom: 30px;
	text-align: center;
	margin-top: 0;
	line-height: 1em;
	padding-top: 30px;
}

#bannertext h1 {
	font-size: 120px;
	line-height: 2em;
	padding-top: 60px
	color: #fff;
	text-shadow: 2px 4px 5px gold;
	margin-bottom: -30px;
}

#bannertext p {
	font-size: 40px;
	color: white;
	text-shadow: 2px 4px 5px white;
	margin-top: 0;
	font-family: cursive;
}

button {
	border-radius: 5%;
	padding: 15px 40px;
	border: 1px solid grey;
	background-color: transparent;
}

button:hover {
	background-color: gold;
}

.block {
	float: left;
	width: 33.3%;
	border: 8px solid #ccc;
	padding: 30px;
	box-sizing: border-box;
	margin: 50px;
	background-color: white;
}

#main-footer {
	background-color: transparent;
	color: gold;
	text-align: center;
	padding: 20px;
	margin-top: -90px;
	margin-bottom: 0px;
}














