* {
	box-shadow: border-box;
}

body {
	margin: 0;
	background-color: lightgrey;
	width: 100%;
}

.container {
	width: 60%;
	max-height: 100vh;
	margin: auto;
	background-color: lightgrey;
	color: gold;
	font-family: cursive;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	background-color: black;
	color: #555;
	position: fixed;
	top: 0;
	bottom: 100px;
}

nav ul {
	padding: 0 5px;
	list-style-type: none;
	line-height: 6em;
}

nav li {
	display: block;
}

nav a:hover {
	color: #555;
	text-decoration: underline;
	font-size: 1.5em;
	animation-name: ease-in-out;
	@web-kit animation-name: ease;
	animation-duration: 2s	
}

img {
	width: 400px;
	float: right;
	margin-right: 50px;
}

h1 {
	text-shadow: 2px 4px 3px gold;
	color: blue;
	margin-left: 200px;
	font-size: 40px;
}

p {
	color: blue;
}

.about {
	padding-left: 100px;
	font-size: 20px;
	padding-bottom: 100px;
}

#main-footer p {
	background-color: transparent;
	color: gold;
	text-align: center;
	padding: 20px;
	margin-top: -90px;
	margin-bottom: 0px;
}
